/* CSS Document */

/*********/
/* FONTS */
/*********/

@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'hurme';
	src: url('../fonts/hurmeblack.woff2') format('woff2'),
			 url('../fonts/hurmeblack.woff') format('woff');
	font-weight: bolder;
	font-style: normal;

}

@font-face {
	font-family: 'zaftig';
	src: url('../fonts/mmzaftig.woff2') format('woff2'),
			 url('../fonts/mmzaftig.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#D91a60;
	--color-text2:#a61F5E;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/


body {
  font-family: 'zaftig', sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
	font-size: 2em;
	display: grid;
	place-items: center;
}

h1 {
	width: 5em;
	aspect-ratio:1/1;
	background-color: white;
}

h1 > span:nth-child(6),
h1 > span:nth-child(7),
h1 > span:nth-child(8),
h1 > span:nth-child(9),
h1 > span:nth-child(10),
h1 > span:nth-child(11),
h1 > span:nth-child(12)
	{
	font-family: 'hurme', sans-serif;
	color:var(--color-text2);
	font-size: .5em;
	bottom: 20%;
}

h1 > span:nth-child(0) {
	position: relative;
	top: 10px;
}


/* jouw code */

