/* CSS Document */

/*********/
/* FONTS */
/*********/

@font-face {
	font-family: 'eenfont';
	src: url('../fonts/eenfont.woff2') format('woff2'),
			 url('../fonts/eenfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'hurme';
	src: url('../fonts/hurmeblack.woff2') format('woff2'),
			 url('../fonts/hurmeblack.woff') format('woff');
	font-weight: bolder;
	font-style: normal;

}

@font-face {
	font-family: 'zaftig';
	src: url('../fonts/mmzaftig.woff2') format('woff2'),
			 url('../fonts/mmzaftig.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family: 'zaftig', sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}

body > h1:first-child {
	font-family: 'hurme', sans-serif;
}



/* jouw code */

